{% block navbar %}
<nav  class="navbar navbar-expand-sm bg-dark navbar-dark mb-4 p-4">
    <!-- Brand -->
    <a class="navbar-brand " href="/">
        {{ title }}
    </a> 
    <!-- Left -->
    <ul class="nav navbar-nav mr-auto">

        <li class="nav-item">
            <a class="nav-link {%- if request.path=='/explore' %} active {% endif %}" href="/explore">Explore</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {%- if request.path=='/test' %} active {% endif %}" href="/get-data" >
                Download videos list
            </a>
        </li>

        <li class="nav-item {%- if request.path=='/complete-data' %} active {% endif %}">
            <a class="nav-link" href="/test2">Complete with data</a>
        </li>
    </ul>

    <!-- Right -->
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/cortext/cortext-pytheas-youtube/blob/master/doc/user_guide.md">Doc</a>
        </li>

        <li class="nav-item {%- if request.path=='/manage' %} active {% endif %}">
            <a class="nav-link" href="/manage">Manage</a>
        </li>

        <li class="nav-item {%- if request.path=='/config' %} active {% endif %}">
            <a class="nav-link" href="/config">Config</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/reset"><i class="fa fa-times" aria-hidden="true"></i></a>
        </li>
    </ul>

</nav>
{% endblock %}