{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                {{ title }}
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#"> 
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="https://pytheas.cortext.net/">Youtube </a></li>
                    <li><a href="https://tweets-pytheas.cortext.net/">Tweets </a></li>
                    <li><a href="https://spinn3r-pytheas.cortext.net">Spinn3r </a></li>
                </ul>
            </li>
        </ul>
        {%- if request.path != "/login" %}
                <ul class="nav navbar-nav">
                    <li {%- if request.path=="/explore" %} class="active" {% endif %}><a href="/explore">Explore</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Download list of videos
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li {%- if request.path=="/search" %} class="active" {% endif %}>
                                <a href="/search">Search </a></li>
                            <li {%- if request.path=="/channel" %} class="active" {% endif %}>
                                <a href="/channel">Channel </a></li>
                            <li {%- if request.path=="/playlist" %} class="active" {% endif %}>
                                <a href="/playlist">Playlist </a></li>
                            <li {%- if request.path=="/video" %} class="active" {% endif %}>
                                <a href="/videos-list">Custom video list </a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                     <li {%- if request.path=="/aggregate" %} class="active" {% endif %}><a href="/aggregate">Aggregate data</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li {%- if request.path=="/manage" %} class="active" {% endif %}>
                        <a href="/manage">Manage data</a></li>
                    <li {%- if request.path=="/config" %} class="active" {% endif %}>
                        <a href="/config">Config</a></li>
                    <li>
                        <a href="/reset"><i class="fa fa-times" aria-hidden="true"></i></a></li>
                    <li>
                        
                    </li>
                </ul>            
        {% endif %}
    </div>
</nav>
{% endblock %}