{% block navbar %}
<nav  class="navbar navbar-expand-sm bg-dark navbar-dark mb-4 p-4">
    <!-- Brand -->
    <a class="navbar-brand " href="/">
        {{ title }}
    </a> 
    <!-- Left -->
    <ul class="nav navbar-nav mr-auto">

        <li class="nav-item">
            <a class="nav-link {%- if request.path=='/explore' %} active {% endif %}" href="/explore">Explore</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {%- if request.path=='/get-data' %} active {% endif %}" href="/get-data" >Download</a>
        </li>

        <li class="nav-item {%- if request.path=='/complete-data' %} active {% endif %}">
            <a class="nav-link" href="/complete-data">Enrich</a>
        </li>
    </ul>

    <!-- Right -->
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="/documentation">Documentation</a>
        </li>

        <li class="nav-item {%- if request.path=='/manage' %} active {% endif %}">
            <a class="nav-link" href="/manage">Manage data</a>
        </li>

        <li class="nav-item {%- if request.path=='/config' %} active {% endif %}">
            <a class="nav-link" href="/config">Configuration</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/reset"><i class="fa fa-times" aria-hidden="true"></i></a>
        </li>
    </ul>

</nav>
{% endblock %}