iframe {
  width: 490px;
}

tbody {
  font-size: x-small;
}

th {
  text-align: center;
  border: 1px solid white;
  background: #80808066;
  vertical-align: middle !important;
}


#headCol th {
  text-align: center;
  border: 1px solid white;
  background: #959595bf !important;
}



.vertical-align{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /*color:#FFF;*/
}


label {
	/*color:#000;*/
}



.navbar {
    padding: 0;
/*    color:white;
    background-color: #E62117;
    border-color: #e52d27;
    border-top-color: #e52d27;
    border-right-color: #e52d27;
    border-bottom-color: #e52d27;
    border-left-color: #e52d27;*/
}

.btn-primary {
    background-color: #CC181E !important;
    border-color: #CC181E !important;
}

.btn-info {
  background-color: #cc181e99 !important;
  border-color: #CC181E !important;  
}

.list-group-item.active {
    background-color: #CC181E !important;
    border-color: #CC181E !important;
}



/*circle loading*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fdd transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
