iframe {
  width: 490px;
}

tbody {
  font-size: x-small;
}

th {
  text-align: center;
  border: 1px solid white;
  background: #80808066;
  vertical-align: middle !important;
}


#headCol th {
  text-align: center;
  border: 1px solid white;
  background: #959595bf !important;
}



.vertical-align{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /*color:#FFF;*/
}


label {
	/*color:#000;*/
}



.navbar {
    padding: 0;
/*    color:white;
    background-color: #E62117;
    border-color: #e52d27;
    border-top-color: #e52d27;
    border-right-color: #e52d27;
    border-bottom-color: #e52d27;
    border-left-color: #e52d27;*/
}


.btn-info {
  background-color: #cc181e99 !important;
  border-color: #CC181E !important;  
}

.list-group-item.active {
    background-color: #CC181E !important;
    border-color: #CC181E !important;
}