{% block content %}
<a class="btn btn-info btn-sm ml-auto" href="https://developers.google.com/youtube/v3/docs/search/list">youtube docs Search query</a>

<h4>Query</h4>
<input type="text" name="query" class="form-control" placeholder="Search">

<h4>Language</h4>
<select class="form-control" name="language" placeholder="fr">
    <option value="" disabled selected>Select your language area</option>
    {% for lang in language_code %}
    <option value="{{ lang[0] }}">{{ lang[1] }}</option>
    {% endfor %}
</select>

<h4>Order</h4>
<select class="form-control" name="order">
    <option>relevance</option>
    <option>date</option>
    <option>rating</option>
    <option>title</option>
    <option>viewCount</option>
    <option>videoCount</option>
</select>

<h4>Part</h4>
<label class="checkbox-inline"><input name='part' type="checkbox" value="id" checked>id</label>
<label class="checkbox-inline"><input name='part' type="checkbox" value="snippet" checked>snippet</label>

<h4>Advanced</h4>
<p><input type="checkbox" name="advanced"> Will search day by day (with a max at ~500/day)</p>
<div class="row mb-4">
    <div class="col-md-6">
        <label for='startpoint'>Début :</label>
        <input type="date" value="publishedAfter" name="startpoint">
    </div>

    <div class="col-md-6">
        <label for='endpoint'>Fin :</label>
        <input type="date" value="publishedBefore" name="endpoint">
    </div>
</div>
<!-- <br>
<label for="customRange2">Example range</label>
<input type="range" class="custom-range" min="0" max="5" id="customRange2"> -->

<button type="submit" class="center-block btn btn-secondary">Submit</button>
{% endblock %}