{% extends "base.html" %} {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Download processing</h2>
                <hr/>
                {% if message %} {{ message }} {% endif %}
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12 text-center">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div> 

                <p>Your query is processing throught Pytheas going to ask Youtube Data Api.</p>
                <p>Time to get it will depend of the quantiy you asked for.</p>
                <p>For now you can go to manage page to see if your query is done</p>
            </div>

            <div class="col-md-12 text-center">
                <a href="/manage" class="btn btn-primary">Manage data</a>
            </div>
        </div>
    </div>
{% endblock %}