{% extends "base.html" %} {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Download processing</h2>
                <hr/>
                {% if message %} {{ message }} {% endif %}
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12 text-center">
                {{ message }}

                <p>Your query is processing throught Pytheas going to ask Youtube Data Api</p>
                <p>Soon you will can manage more esily how is going on. For now you can go to manage data to see if your gery is done </p>
            </div>

            <div class="col-md-12 text-center">
                <a href="/manage" class="btn btn-primary">Manage data</a>
            </div>
        </div>
    </div>
{% endblock %}