{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <h2>Create your videos set</h2>
            <hr/>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <h3>How do you want to retrieve your data ?</h3>
            <p>Here you want to choose a method to retrieve data :</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-4">
            <div class="list-group" id="chooseDataList" role="tablist">
                <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"> 
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Channel(s)</h5>
                    </div>
                    <p class="mb-1">Download set of video data from Channel(s)</p>
                    <small>Observe speaker</small>
                </a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"> 
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Playlist(s)</h5>
                    </div>
                    <p class="mb-1">Download set of video data from Channel(s)</p>
                    <small>Observe on-site collection</small>
                </a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Your own video list</h5>
                    </div>
                    <p class="mb-1">Add a bunch of url and download</p>
                    <small>What you have curated</small>
                </a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">search query (simple/advanced</h5>
                    </div>
                    <p class="mb-1">Download set of video data from search query or multiple query horodated</p>
                    <small>Observe spoke</small>
                </a>
            </div>
        </div>

        <!-- forms -->
        <div class="col-7 align-self-center offset-1">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="" role="tabpanel" aria-labelledby="list-home-list">
                    <h4>Or upload csv file (see doc for format) <a class="btn btn-info btn-sm float-right" href="https://pytheas.cortext.net/documentation">csv import doc</a></h4>

                    <form action="/import_csv" method="POST" name="input_csv_channel" enctype="multipart/form-data">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input name="input_csv_channel" type="file" class="custom-file-input">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>


                </div>
                <div class="tab-pane fade show" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <form action="/channel" method="POST">
                        <div class="form-group multiSelect">
                            {% include 'download/channel.html' %}
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <form action="/playlist" method="POST" >
                        <div class="form-group">
                            {% include 'download/playlist.html' %}
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <form action="/videos-list" method="POST" >
                        <div class="form-group">
                            {% include 'download/videos_list.html' %}
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <form action="/search" method="POST">
                        <div class="form-group">
                            {% include 'download/search.html' %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <p>Of course you can consult each of referent documentation :</p>
            <a class="btn btn-info btn-sm ml-auto" href="https://developers.google.com/youtube/v3/docs/videos/list">youtube docs on video</a>
            <a class="btn btn-info btn-sm ml-auto" href="https://developers.google.com/youtube/v3/docs/channels/list">youtube docs channels</a>
            <a class="btn btn-info btn-sm ml-auto" href="https://developers.google.com/youtube/v3/docs/playlists/list">youtube docs playlist</a>
            <a class="btn btn-info btn-sm ml-auto" href="https://developers.google.com/youtube/v3/docs/search/list">youtube docs Search query</a>
        </div>
    </div>

</div>
{%- endblock %}