{% extends "base.html" %} {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Export results</h2>
                <hr/>
                <h3>Export your data</h3>
                {% if message %} {{ message }} {% endif %}
            </div>
        </div>
        <div class='row'>
            <div class="col-md-12">
                <h4>Data in db </h4>
                <h5>List queries :</h5>



                {% if 'snippet' in list_queries[0] %}
                	{% if 'is_top_level_comment' in list_queries[0] %}
                		{# COMMENTS #}
		                <table class="table dataTableView">
		                    <thead>
		                        <tr>
		                            <th>id</th>
		                            <th>authorDisplayName</th>
		                            <th>LikeCount</th>
		                            <th>textDisplay</th>
		                            <th>Date</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        {% for q in list_queries %}
		                        	<tr>
		                        		<td> <img src="{{ q['snippet']['authorProfileImageUrl']|safe }}"> </td>
		                        		<td>{{ q['snippet']['authorDisplayName'] }}</td>
		                                <td>{{ q['snippet']['likeCount'] }}</td>
		                                <td>{{ q['snippet']['textDisplay'] }}</td>
		                                <td>{{ q['snippet']['publishedAt'] }}</td>
		                            </tr>
		                        {% endfor %}
		                    </tbody>
		                </table>
	                {% else %}
	                	{# VIDEOS #}
		                <table class="table dataTableView">
		                    <thead>
		                        <tr>
		                            <th>Iframe</th>
		                            <th>Author</th>
		                            <th>Title</th>
		                            <th>Desc</th>
		                            <th>Date</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        {% for q in list_queries %}
		                        	<tr>
		                        		<td>
                                            {% if q['player'] %}
                                                {{ q['player']['embedHtml']|safe }}
                                            {% elif 'resourceId' in q['snippet'] %}
                                                <iframe type="text/html" width="640" height="360" src="http://www.youtube.com/embed/{{q['snippet']['resourceId']['videoId']}}"></iframe>
                                            {% else %}
                                                <img src="{{ q['snippet']['thumbnails']['medium']['url']|safe }}">
                                            {% endif %}
                                        </td>
		                        		<td>{{ q['snippet']['channelTitle'] }}</td>
		                                <td>{{ q['snippet']['title'] }}</td>
		                                <td>{{ q['snippet']['description'] }}</td>
		                                <td>{{ q['snippet']['publishedAt'] }}</td>
		                            </tr>
		                        {% endfor %}
		                    </tbody>
		                </table>
	                {% endif %}
                {% else %}
                	{# CAPTIONS #}
					<table class="table dataTableView">
	                    <thead>
	                        <tr>
	                            <th>id</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        {% for q in list_queries %}
	                        	<tr>
	                        		<td>{{ q['_id'] }}</td>
	                            </tr>
	                        {% endfor %}
	                    </tbody>
	                </table>
                {% endif %}




            </div>
        </div>
    </div>
{% endblock %}