{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Login</h2>
            <hr/>
        </div>
    </div>

    <div class="jumbotron ">
        <div class="row">
            <div class="col-md-12">
                <h2>What is Pytheas ?</h2>
                <p>Pytheas a simple webtool helping you to download data from youtube API,</p>
                <p>Permitting you to manage and export data in json.</p>
                <a class="btn btn-outline-dark my-2 my-sm-0" href="/grant">Login</a>
            </div>
        </div>
    </div>

</div>
{% endblock  %}