{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Aggregate results</h2>
        <p><a href="https://developers.google.com/youtube/v3/docs/comments/list">youtube docs search (1)</a></p>
        <p><a href="https://developers.google.com/youtube/v3/docs/commentThreads/list">youtube docs search (2)</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        {{ message }}
        <h3>Choose dataset in your current list </h3>

        <form action="/aggregate" method="POST">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Query</th>
                        <th>ChannelId</th>
                        <th>PlaylistId</th>
                        <th>VideoId</th>
                        <th>ranking</th>
                        <th>parts</th>
                        <th>language</th>
                        <th>videos</th>
                        <th>comments</th>
                        <th>date start </th>
                        <th>date end </th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, parent_val in stats.items() %}
                        {% if key == 'list_queries' %}
                            {% for query in parent_val %}
                                <tr>
                                    <td>
                                      <div class="radio">
                                        <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="{{ query['query_id'] }}">
                                        {{ query['query_id'] }}
                                        </label>
                                      </div>
                                    </td>
                                    <td>{{query['query']}}</td>
                                    <td>{{query['channel_id']}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{query['ranking']}}</td>
                                    <td>{{query['part']}}</td>
                                    <td class="text-center">{{query['language']}}</td>
                                    <td class="text-center">{{query['countVideos']}}</td>
                                    <td class="text-center">{{query['countComments']}}</td>
                                    {% if query['date_start'] is defined %}
                                      <td>{{query['date_start'][0:10]}}</td>
                                    {% else %}
                                      <td></td>
                                    {% endif %}
                                    {% if query['date_end'] is defined %}
                                      <td>{{query['date_end'][0:10]}}</td>
                                    {% else %}
                                      <td></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tr> 
                        {% endif %}
                   {% endfor %}
                </tbody>
            </table>
        
          {# {% for dir in dir_list  %}
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="{{ dir }}">
              {{ dir }}
            </label>
          </div>
          {% endfor %} #}

          <br>

          <h4>Choose part</h4>
          <label class="checkbox-inline"><input name='part' type="checkbox" value="id" checked>id</label>
          <label class="checkbox-inline"><input name='part' type="checkbox" value="snippet" checked>snippet</label>
          <label class="checkbox-inline"><input name='part' type="checkbox" value="contentDetails" checked>contentDetails</label>
          <label class="checkbox-inline"><input name='part' type="checkbox" value="status" checked>status</label>
          <label class="checkbox-inline"><input name='part' type="checkbox" value="statistics" checked>statistics</label>
          <label class="checkbox-inline"><input name='part' type="checkbox" value="player" checked>player</label>
          <label class="checkbox-inline"><input name='part' type="checkbox" value="topicDetails" checked>topicDetails</label>
          <label class="checkbox-inline"><input name='part' type="checkbox" value="localizations" checked>localizations</label>
          <hr/>

          <h4>Get comments infos</h4>
          <input name='api_part' type="checkbox" value="comments" checked>
          <hr/>

          <h4>Get captions infos</h4>
          <input name='api_part' type="checkbox" value="captions">
          <hr/>

          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>


    </div>



  </div>
{% endblock %}
