{% extends "bootstrap/base.html" %}

{% block title %}Youtube Scrapper{%- endblock title %}

{% block head %}

    {% block styles %}
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    {%- endblock styles%}

{% endblock head %}

{% block body %}

  {% include 'nav.html' %}

  {% block content %}
  {%- endblock content %}

  {%- block footer %}
    {% include 'footer.html' %}
  {%- endblock footer %}

{%- endblock body %}
