{%- extends "bootstrap/base.html" %}

{% block title %}Pytheas-Youtube{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}
{% set title = self.title() %}
{% set github_cred = 'https://github.com/cortext/cortext-pytheas-youtube' %}

{% block head %}
  {{super()}}
  <link rel="shortcut icon" href="static/favicon.ico">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/style.css">
  {{fixes.ie8()}}
{% endblock %}

{% block content %}
  {% block navbar %}
    {% include 'structures/nav.html' %}
  {% endblock navbar %}

  {{super()}}

  {% block footer %}
    {% include 'structures/footer.html' %}
  {% endblock footer %}
{% endblock content %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="static/main.js"></script>
{% endblock scripts%}
  