{% extends "bootstrap/base.html" %}
{% include 'nav.html' %}
{% block content %}

<div class="container">
  <h3>Config</h3>
  <hr>
  <div class='row'>
    <h4>Api.key</h4>

    <div class="col-md-8 ">
      <form action="/config" method="POST">
        <input type="text" name='api_key' class="form-control" placeholder="BHc3Syddf6PMoeR49MDJvJps64QpXxxx77XXxxx">
        <button type="submit"  class="btn btn-default">Submit</button>
      </form>
    </div>

    <div class="col-md-2 ">
      <form action="/reset" method="POST">
        <button type="submit"  name='reset_key' class="btn btn-default">Reset</button>
      </form>
    </div>
  </div>

  <hr/>

  <div class='row'>
    <h4>Manage data</h4>
    <div class="col-md-12">
      <form action="/aggregate_results" method="POST">
        {% for dir in dir_list  %}
        <div class="radio">
          <ul style="list-style-type: none;">
            <li>
              <button type="submit" name="del" value="{{ dir }}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              {{ dir }}
            </li>
          </ul>
        </div>
        {% endfor %}
    </div>
  </div>

</div>
{% endblock %}
