{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <h2>Create your videos set</h2>
            <hr/>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <h3>How do you want to retrieve your data ?</h3>
            <p>Here you want to choose a method to retrieve data :</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-4">
            <div class="list-group" id="chooseDataList" role="tablist">
                <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"> 
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Channel(s)</h5>
                    </div>
                    <p class="mb-1">Download set of video data from Channel(s)</p>
                    <small>Observe speaker</small>
                </a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"> 
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Playlist(s)</h5>
                    </div>
                    <p class="mb-1">Download set of video data from Channel(s)</p>
                    <small>Observe on-site collection</small>
                </a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Your own video list</h5>
                    </div>
                    <p class="mb-1">Add a bunch of url and download</p>
                    <small>What you have curated</small>
                </a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">search query (simple/advanced</h5>
                    </div>
                    <p class="mb-1">Download set of video data from search query or multiple query horodated</p>
                    <small>Observe spoke</small>
                </a>
            </div>
        </div>

        <!-- forms -->
        <div class="col-8 align-self-center">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="" role="tabpanel" aria-labelledby="list-home-list">
                    <h4>Choose one</h4>                    
                </div>
                <div class="tab-pane fade show" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <a class="btn btn-secondary btn-sm ml-auto" href="https://developers.google.com/youtube/v3/docs/channels/list">youtube docs channels</a>
                    <form action="/channel" method="POST">
                        <div class="form-group multiSelect">
                            {% include 'download/channel.html' %}
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <form action="/playlist" method="POST" >
                        <div class="form-group multiSelect">
                            {% include 'download/playlist.html' %}
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <form action="/videos-list" method="POST" >
                        <div class="form-group">
                            <h4>Id video (or paste url)</h4>
                            <textarea rows="6" name='list_videos' class="form-control" placeholder="4Jc3zt1GEAs
                            &#10;4Jc3zt1GEAs
                            &#x0a; 4Jc3zt1GEAs
                            "></textarea>
                            <hr/>
                            <h4>name your query</h4>
                            <input type="text" class="form-control" name="name_query">
                            <h4>Part</h4>
                            <label class="checkbox-inline"><input name='part' type="checkbox" value="id" checked>id</label>
                            <label class="checkbox-inline"><input name='part' type="checkbox" value="snippet" checked>snippet</label>
                            <label class="checkbox-inline"><input name='part' type="checkbox" value="contentDetails" checked>contentDetails</label>
                            <label class="checkbox-inline"><input name='part' type="checkbox" value="status" checked>status</label>
                            <label class="checkbox-inline"><input name='part' type="checkbox" value="statistics" checked>statistics</label>
                            <label class="checkbox-inline"><input name='part' type="checkbox" value="player" checked>player</label>
                            <label class="checkbox-inline"><input name='part' type="checkbox" value="topicDetails" checked>topicDetails</label>
                            <label class="checkbox-inline"><input name='part' type="checkbox" value="localizations" checked>localizations</label>
                            <hr/>
                            
                            <button type="submit" class="center-block btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <form action="/search" method="POST">
                        <div class="form-group">
                            <h4>Query</h4>
                            <input type="text" name="query" class="form-control" placeholder="Search">

                            <h4>Language</h4>
                            <select class="form-control" name="language" placeholder="fr">
                                <option value="" disabled selected>Select your language area</option>
                                {% for lang in language_code %}
                                <option value="{{ lang[0] }}">{{ lang[1] }}</option>
                                {% endfor %}
                            </select>

                            <h4>Order</h4>
                            <select class="form-control" name="order">
                                <option>relevance</option>
                                <option>date</option>
                                <option>rating</option>
                                <option>title</option>
                                <option>viewCount</option>
                                <option>videoCount</option>
                            </select>

                            <h4>Part</h4>
                            <label class="checkbox-inline"><input name='part' type="checkbox" value="id" checked>id</label>
                            <label class="checkbox-inline"><input name='part' type="checkbox" value="snippet" checked>snippet</label>

                            <h4>Advanced</h4>
                            <p><input type="checkbox" name="advanced"> Will search day by day (with a max at ~500/day)</p>
                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <label for='startpoint'>Début :</label>
                                    <input type="date" value="publishedAfter" name="startpoint">
                                </div>

                                <div class="col-md-6">
                                    <label for='endpoint'>Fin :</label>
                                    <input type="date" value="publishedBefore" name="endpoint">
                                </div>
                            </div>
                            <br>
                            <label for="customRange2">Example range</label>
                            <input type="range" class="custom-range" min="0" max="5" id="customRange2">

                            <button type="submit" class="center-block btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <p>Of course you can consult each of referent documentation :</p>
            <a class="btn btn-secondary btn-sm ml-auto" href="https://developers.google.com/youtube/v3/docs/videos/list">youtube docs on video</a>
            <a class="btn btn-secondary btn-sm ml-auto" href="https://developers.google.com/youtube/v3/docs/channels/list">youtube docs channels</a>
            <a class="btn btn-secondary btn-sm ml-auto" href="https://developers.google.com/youtube/v3/docs/playlists/list">youtube docs playlist</a>
            <a class="btn btn-secondary btn-sm ml-auto" href="https://developers.google.com/youtube/v3/docs/search/list">youtube docs Search query</a>
        </div>
    </div>

</div>
{%- endblock %}