{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Hello, discoverer !</h1>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <h3>Please see Youtube API documentation first :</h3>
        <a class="btn btn-primary" href="https://developers.google.com/youtube/v3/docs/" role="button">Documentation here</a>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-offset-2 col-md-8 ">
        <h2>How it works ?</h2>
        <ol>
          <li>Explore video info individualy and look for what you might be interested</li>
          <li>Unzoom and request a query as a list of vidéo</li>
          <li>Export and aggregate information</li>
        </ol>
      </div>
    </div>

    <hr/>





<div class="row">
  <div class="col-md-offset-2 col-md-8 ">
    <h2>Very basic rest implemented</h2>
    <p>Find id of your queries first then explore :</p>
    <ul>
      <li><a href="/queries/">/queries/</a></li>
      <li>/queries/<strong>query_id</strong></li>
      <li>/queries/<strong>query_id</strong>/videos/</li>
      <li>/videos/<strong>video_id</strong></li>
      <li>/videos/<strong>video_id</strong>/comments/</li>
      <li>/comments/<strong>comment_id</strong></li>
    </ul>
  </div>
</div>

<hr/>

    <div class="row">
      <div class="col-md-offset-2 col-md-8 ">
        <h3>Know limitations :</h3>
        <ul>
          <li>Youtube results (api & browser) can only provide ~500 results (to get more it need to be outdated every 500 results. see :
            <br>
             <a href="http://stackoverflow.com/questions/27500231/how-can-get-all-results-from-youtube-api-search-api-response">how-can-get-all-results-from-youtube-api-search-api-response</a>
             )</li>
          <br>
          <li>Automatic captions seems to cannot be retrieve via API. The author must havec activated CC on his video. It need to get a little tricky with xml version like :
            <a href="http://video.google.com/timedtext?lang=en&v=hSnB7zGW15M">http://video.google.com/timedtext?lang=en&v=hSnB7zGW15M</a>
            <br>
            For more see :
            <a href="http://stackoverflow.com/questions/23665343/get-closed-caption-cc-for-youtube-video">get-closed-caption-cc-for-youtube-video</a>
            <br>
            or :
            <a href="http://stackoverflow.com/questions/14013431/extract-automatic-captions-from-youtube-video">extract-automatic-captions-from-youtube-video</a>
          </li>
          <br>
          <li>Comments get only one hierachical level</li>
          <br>
          <li>Search provide playlist incorporated in results as a video</li>
        </ul>


      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="5">Supported Operations</th>
              </tr>
            </thead>
            <tbody><tr>
              <td><strong>Method</strong></td>
              <td><strong><span class="apimethod notranslate">list</span></strong></td>
            </tr>
            <tr>
              <td><code><strong><span>caption</span></strong></code></td>
              <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
            </tr>
            <tr>
              <td><code><strong><span>channel</span></strong></code></td>
              <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
            </tr>
            <tr>
              <td><code><strong><span>comment</span></strong></code></td>
              <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
            </tr>
            <tr>
              <td><code><strong><span>commentThread</span></strong></code></td>
              <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
            </tr>
            <tr>
              <td><code><strong><span>playlist</span></strong></code></td>
              <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
            </tr>
            <tr>
              <td><code><strong><span>playlistItem</span></strong></code></td>
              <td><span class="glyphicon glyphicon-remove" style="color:red"></span></td>
            </tr>
            <tr>
              <td><code><strong><span>search result</span></strong></code></td>
              <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
            </tr>
            <tr>
              <td><code><strong><span>video</span></strong></code></td>
              <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>



{% endblock  %}
