{% extends "base.html" %} {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Manage results</h2>
                <hr/>
                <h3>your dataset in database</h3>
                {% if message %} {{ message }} {% endif %}
            </div>
        </div>
        <div class='row'>
            <div class="col-md-12">
                <h4>Resume</h4>
                {% for key, val in stats.items() if not key == 'list_queries' %}
                    <p><strong>{{key|e}}</strong> : {{val}}</p>
                {% endfor %}
                <br>
                <h5>Your queries :</h5>
                <table class="table">
                    <thead>
                        <tr id="headCol">
                            <th colspan="4">TYPE</th>
                            <th colspan="4">PARAMETERS</th>
                            <th colspan="3">COUNT</th>
                            <th colspan="4">METHOD</th>
                        </tr>
                        <tr>
                            <th>Query</th>
                            <th>ChannelId</th>
                            <th>PlaylistId</th>
                            <th>VideoId</th>
                            <!-- -->
                            <th>Order</th>
                            <th>Part(query)</th>
                            <th>Language</th>
                            <th>Date start/end </th>
                            <!-- -->
                            <th>Videos</th>
                            <th>Comments</th>
                            <th>Captions</th>
                            <!-- -->
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, parent_val in stats.items() %} {% if key == 'list_queries' %} {% for query in parent_val %}
                            <tr>
                                <td>{{query['query']}}</td>
                                <td>{{query['channel_id']}}</td>
                                <td></td>
                                <td></td>
                                <!-- -->
                                <td>{{query['order']}}</td>
                                <td>{{query['part']}}</td>
                                <td class="text-center">{{query['language']}}</td>
                                {% if query['date_start'] is defined %}
                                    <td>{{query['date_start'][0:10]}} / {{query['date_end'][0:10]}}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <!-- -->
                                <td class="text-center"> 
                                    <a href="/view-videos/{{ query['query_id'] }}"><i class="fa fa-eye" aria-hidden="true"></i></a>{{query['countVideos']}}</td>
                                <td class="text-center">
                                    <a href="/view-comments/{{ query['query_id'] }}"><i class="fa fa-eye" aria-hidden="true"></i></a>{{query['countComments']}}</td>
                                <td class="text-center">
                                    <a href="/view-captions/{{ query['query_id'] }}"><i class="fa fa-eye" aria-hidden="true"></i></a>{{query['countCaptions']}}</td>
                                <!-- -->
                                <td class="text-center"><a href="/delete/{{ query['query_id'] }}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                            </tr>
                        {% endfor %} {% endif %} {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}