{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">YoutubeExplorer</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li {%- if request.path == "/browse" %} class="active"{% endif %}><a href="/browse">Browse</a></li>
          <li {%- if request.path == "/search" %} class="active"{% endif %}><a href="/search">Search </a></li>
          <li {%- if request.path == "/channel" %} class="active"{% endif %}><a href="/channel">Channel </a></li>
          <li {%- if request.path == "/aggregate" %} class="active"{% endif %}><a href="/aggregate">Aggregate</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li {%- if request.path == "/manage" %} class="active"{% endif %}><a href="/manage">Manage data</a></li>
          <li {%- if request.path == "/config" %} class="active"{% endif %}><a href="/config">Config</a></li>
          <li><a href="/reset"><i class="fa fa-times" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
