{% block content %}

<div class="mb-4">
    <h4>Name your query</h4>
    <input type="text" class="form-control" name="query_name">
</div>

<h4>Username</h4>
<div class="input-group-append">
    <input type="text" name='unique_user_channel' class="form-control userinput" placeholder="UCzOJc_QhY8GSkXBof2nYUNw or ARTEplus7">
    <button class="btn btn-outline-info enterUrl" type="button">Add</button>
</div>

<h4>ID channel</h4>
<div class="input-group-append">
    <input type="text" name='unique_id_channel' class="form-control userinput" placeholder="UCzOJc_QhY8GSkXBof2nYUNw or ARTEplus7">
    <button class="btn btn-outline-info enterUrl" type="button">Add</button>
</div>

<!-- <h4>Username channel</h4>
<div class="input-group-append">
    <input type="text" name='unique_id_channel' class="form-control userinput" placeholder="ARTEplus7">
    <button class="btn btn-outline-info enterUrl" type="button">Add</button>
</div>
 -->
<ul class="list-group" id="listUrlUsername" name="list_url">
</ul>

<ul class="list-group" id="listUrlId" name="list_url">
</ul>

<h4>Part</h4>
<label class="checkbox-inline"><input name='part' type="checkbox" value="id" checked>id</label>
<label class="checkbox-inline"><input name='part' type="checkbox" value="snippet" checked>snippet</label>

<button type="submit" class="btn btn-primary">Submit</button>

{% endblock %}