
<form action="/channel_info" method="POST">
    <div class="form-group">
        <p>You can find two different concepts for same things (who are actually merged in Youtube) : <strong>user and channel</strong>.</p>
        <p> 3 types : </p>
        <ul>
            <li>Channel Id : <code>youtube.com/channel/UCUZHFZ9jIKrLroW8LcyJEQQ</code></li>
            <li>User name : <code>youtube.com/c/YouTubeCreators</code></li>
            <li>User name : <code>youtube.com/user/partnersupport</code></li>
        </ul>
        <p>More can be found here <a href="https://support.google.com/youtube/answer/6180214?hl=en">Understand Urls from your channel</a> (by Google support)</p>

        <h4>Id Channel (or paste url)</h4>
        <input type="text" name='unique_id_channel' class="form-control" placeholder="UCzOJc_QhY8GSkXBof2nYUNw">
        <hr/>
        <h4>Username</h4>
        <input type="text" name='unique_user_channel' class="form-control" placeholder="ARTEplus7">
        <hr/>
        <h4>Part</h4>
        <label class="checkbox-inline">
            <input name='part' type="checkbox" value="id" checked>id
        </label>
        <br/>
        <label class="checkbox-inline">
            <input name='part' type="checkbox" value="snippet" checked>snippe
        </label>
        <label class="checkbox-inline">
            <input name='part' type="checkbox" value="statistics" checked>statistics
        </label>
        <label class="checkbox-inline">
            <input name='part' type="checkbox" value="status" checked>status
        </label>
        <label class="checkbox-inline">
            <input name='part' type="checkbox" value="localizations" checked>localizations
        </label>
        <br/>
        <label class="checkbox-inline">
            <input name='part' type="checkbox" value="contentDetails" checked>contentDetails
        </label>
        <label class="checkbox-inline">
            <input name='part' type="checkbox" value="topicDetails" checked>topicDetails
        </label>
        <br/>
        <label class="checkbox-inline">
            <input name='part' type="checkbox" value="invideoPromotion" checked>invideoPromotion
        </label>
        <label class="checkbox-inline">
            <input name='part' type="checkbox" value="brandingSettings" checked>brandingSettings
        </label>
        <br>
        <label class="checkbox-inline text-muted">
            <input name='part' type="checkbox" value="auditDetails" disabled>auditDetails
        </label>
        <hr/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>