<form action="/playlist_info" method="POST" >
  <div class="form-group">
    <h4>Id Playlist (or paste url)</h4>
    <input type="text" name='unique_id_playlist' class="form-control" placeholder="PLTCMYaAONGHVtUG-oZnoa3VJMCRvpkq7k">
    <hr/>

    <h4>Part</h4>
    <label class="checkbox-inline"><input name='part' type="checkbox" value="id" checked>id</label>
    <br/>
    <label class="checkbox-inline"><input name='part' type="checkbox" value="snippet" checked>snippet</label>
    <label class="checkbox-inline"><input name='part' type="checkbox" value="status" checked>status</label>
    <label class="checkbox-inline"><input name='part' type="checkbox" value="localizations" checked>localizations</label>
    <br/>
    <label class="checkbox-inline"><input name='part' type="checkbox" value="contentDetails" checked>contentDetails</label>
    <label class="checkbox-inline"><input name='part' type="checkbox" value="player" checked>player</label>

    <hr/>

    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>